@model BrainEx.Models.Resultados.EdadCerebralResultado
@{
    string hoklsdf = "asdfñlj";
}
<h1 id="titulo">Resultados de <span class="addAzulColor">Edad Cerebral</span></h1>

<!--h1 id="titulo">Resultados de <span class="addAzulColor"></span></!--h1>
<div-- class="vista-detalles-partida">
    <div class="container-de-bloques">
@Html.Partial("~/Views/Perfil/Bloques/BloqCalcRapido.cshtml", Model.ResultadoCalculoRapido)
    </div>
</div-->

<h3 id="titulo">Resultados de <span class="addAzulColor">Calculo Rápido</span></h3>
<div class="vista-detalles-partida">
    <div class="container-de-bloques">
        @Html.Partial("~/Views/Perfil/Bloques/BloqCalcRapido.cshtml", Model.ResultadoCalculoRapido)
    </div>
</div>

<h3 id="titulo">Resultados de <span class="addLavandaColor">Completa Operación</span></h3>
<div class="vista-detalles-partida">
    <div class="container-de-bloques">
        @Html.Partial("~/Views/Perfil/Bloques/BloqCompletaOp.cshtml", Model.ResultadoCompletaOperacion)
    </div>
</div>

<h3 id="titulo">Resultados de <span class="addNaranjaColor">Encuentra Patrón</span></h3>
<div class="vista-detalles-partida">
    <div class="container-de-bloques">
        @Html.Partial("~/Views/Perfil/Bloques/BloqFindPatron.cshtml", Model.ResultadoEncuentraPatron)
    </div>
</div>

<h3 id="titulo">Resultados de <span class="addAmarilloColor">Sigue Secuencia</span></h3>
<div class="vista-detalles-partida">
    <div class="container-de-bloques">
        @Html.Partial("~/Views/Perfil/Bloques/BloqKeepSeq.cshtml", Model.ResultadoSigueSecuencia)
    </div>
</div>

<h3 id="titulo">Resultados de <span class="addCoralColor">Memory Game</span></h3>
<div class="vista-detalles-partida">
    <div class="container-de-bloques">
        @Html.Partial("~/Views/Perfil/Bloques/BloqMemoGame.cshtml", Model.ResultadoMemoryGame)
    </div>
</div>

<h3 id="titulo">Resultados de <span class="addVerdeColor">Torre Hanoi</span></h3>
<div class="vista-detalles-partida">
    <div class="container-de-bloques">
        @Html.Partial("~/Views/Perfil/Bloques/BloqTowerHanoi.cshtml", Model.ResultadoTorreHanoi)
    </div>
</div>
