@model BrainEx.Models.Resultados.ResultadoTorreHanoi

<div class="bloque bloque-tiempo">
	<ul>
		<li>Tiempo total: @Model.TiempoTotal</li>
		<li>Discos: @Model.Discos</li>
		<li>NºMovimientos: @Model.Movimientos</li>
		<li>NºMovimientos Optimos: @Model.MovimientosOptimos</li>
	</ul>
</div>
<div class="bloque bloque-precision">
	<ul>
		<li>Eficiencia: @Model.Eficiencia</li>
		<li>NºMovimientos Extras: @Model.MovimientosExtra</li>
		<li>Tiempo por movimiento: @Model.TiempoPorMovimiento</li>
		<li>Tiempo maximo: @Model.EficienciaEsperada</li>
	</ul>
</div>