@model BrainEx.Models.UsuarioDatosPerfil
@{
	ViewData["Title"] = "Perfil de Usuario";

}

<div class="vista-perfil">
	<div class="apartado-info">
		<div class="datos-basic">
			<h2 class="title-page">Perfil de Usuario</h2>
			<p class="dato">Nombre completo: <span class="dato-fullname">@Model.Usuario.Name</span></p>
			<p class="dato">Nombre usuario: <span class="dato-username">@Model.Usuario.UserName</span></p>
			<p class="dato">Email: <span class="dato-email">@Model.Usuario.Email</span></p>
		</div>
		<div class="datos-dcha">
			<p class="dato">Edad Cerebral</p>
			<span class="dato-edad">25</span>
		</div>
	</div>
	<div class="container-partidas">
		<h3 class="title-second">Partidas</h3>
		<table>
			<thead>
				<tr>
					<th>Fecha</th>
					<th>Tipo Partida</th>
					<th>Tiempo</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				@foreach (PartidaItem partida in Model.Partidas)
				{
					<tr class="info-partida" data-item="@($"{partida.Id}_{partida.Tipo}")">
						<td>@partida.Fecha.ToString("dd-MM-yyyy")</td>
						<td>@FormatearTipo(partida.Tipo)</td>
						<td>@partida.Segundos sg</td>
						<td class="celda-acciones">
							<a class="btn-secondary details" href="./Perfil/Detalles?PartidaID=@($"{partida.Id}_{partida.Tipo}")">Detalles</a>
							<a class="btn-secondary delete">Borrar</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
@functions {
    public string FormatearTipo(string tipo)
    {
        return tipo switch
        {
			"calculo_rapido" => "Cálculo Rápido",
            "completa_operacion" => "Completa Operación",
			"encuentra_patron" => "Encuentra Patrón",
            "memory_game" => "Memory Game",
			"sigue_secuencia" => "Sigue Secuencia",
			"torre_hanoi" => "Torre Hanoi",
			"edad_cerebral" => "Edad Cerebral",
            _ => System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(tipo.Replace("_", " "))
        };
    }
}
